.nodatafound-container {
  height: auto !important;
  aspect-ratio: 1 !important;

  img {
    width: 55% !important;
    height: auto !important;
    aspect-ratio: 1 !important;
    margin: 0 auto !important;
  }
  h4 {
    font-weight: 600 !important;
    text-align: center !important;
    color: gray !important;
  }
}
