::ng-deep {
  .forgot-change-password-container {
    .forgot-change-password-form {
      .p-inputnumber-input,
      .p-inputtext {
        width: 100%;
      }
      .p-button {
        &.p-button-link {
          color: #dc8831;
        }
        &:not(.p-button-link) {
          background-color: var(--project-primary-color);
          border-color: var(--project-primary-color);
          color: #000000;
        }
      }

      .form-field {
        label {
          b {
            color: red;
            cursor: pointer;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: textfield;
        }
      }
    }
  }
}
