<div class="w-100 forgot-change-password-container">
  <div
    class="w-100 forgot-change-password-form"
    [formGroup]="forgotPasswordForm"
    [ngClass]="{ 'invalid-form': invalidForm }"
  >
    <div class="form-field">
      <label for="adminId"
        >Login Id
        <b
          *ngIf="isFieldRequired('adminId', forgotPasswordForm)"
          style="color: red"
          >*</b
        ></label
      >
      <input
        type="text"
        class="w-100"
        pInputText
        placeholder="Enter your Login Id"
        formControlName="adminId"
        [readonly]="loginOctoAdminDetails?.loginID"
      />
      <h6
        *ngIf="
          forgotPasswordForm.get('adminId')?.invalid &&
          (invalidForm || forgotPasswordForm.get('adminId')?.touched)
        "
        class="mt-1 error-mssg"
      >
        Please enter valid Login Id.
      </h6>
    </div>
    <div class="mt-3 form-field">
      <label for="newpassword"
        >New Password
        <b
          *ngIf="isFieldRequired('newpassword', forgotPasswordForm)"
          style="color: red"
          >*</b
        ></label
      >
      <p-password
        formControlName="newpassword"
        [toggleMask]="true"
        inputId="newpassword"
        placeholder="Enter new password"
        [style.width]="'100%'"
        styleClass="w-100"
        ><ng-template pTemplate="footer">
          <p class="mt-2 mb-1">Suggestions</p>
          <ul
            class="ps-0 ms-0 mt-0"
            style="line-height: 1.5; list-style-position: inside"
          >
            <li>Minimum 8 characters</li>
            <li>At least one numeric</li>
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one special character</li>
          </ul>
        </ng-template></p-password
      >
      <h6
        *ngIf="
          forgotPasswordForm.get('newpassword')?.invalid &&
          (invalidForm || forgotPasswordForm.get('newpassword')?.touched)
        "
        class="mt-1 error-mssg"
      >
        Please enter valid Password.
      </h6>
    </div>
    <div class="mt-3 form-field">
      <label for="confirmpassword"
        >Confirm Password
        <b
          *ngIf="isFieldRequired('confirmpassword', forgotPasswordForm)"
          style="color: red"
          >*</b
        ></label
      >
      <p-password
        formControlName="confirmpassword"
        [toggleMask]="true"
        inputId="confirmpassword"
        placeholder="Enter confirm password"
        [style.width]="'100%'"
        styleClass="w-100"
        [feedback]="false"
      ></p-password>
      <h6
        *ngIf="
          forgotPasswordForm.get('confirmpassword')?.invalid &&
          (invalidForm || forgotPasswordForm.get('confirmpassword')?.touched)
        "
        class="mt-1 error-mssg"
      >
        Please enter valid Confirm Password.
      </h6>
      <h6
        *ngIf="
          forgotPasswordForm.get('confirmpassword')?.valid &&
          forgotPasswordForm.get('confirmpassword')?.touched &&
          forgotPasswordForm.get('confirmpassword')?.value !==
            forgotPasswordForm.get('newpassword')?.value
        "
        class="mt-1 error-mssg"
      >
        New Password & Confirm Password should be same.
      </h6>
    </div>
    <div class="mt-3 form-field" *ngIf="otpsend">
      <label for="otp">OTP <b style="color: red">*</b></label>
      <input
        type="number"
        class="w-100 d-block"
        pInputText
        [formControl]="otp"
        placeholder="Enter OTP"
        (keypress)="keyPressEvent($event)"
        inputmode="numeric"
      />
      <h6 *ngIf="otp?.invalid && otp?.touched" class="mt-1 error-mssg">
        Please enter valid OTP.
      </h6>
      <p-button
        [label]="
          resendTimeSeconds > 0
            ? 'Resend OTP in ' + resendTimeSeconds + 's'
            : 'Resend OTP'
        "
        styleClass="d-block px-0"
        [link]="true"
        (onClick)="resendOTP()"
        [style]="{ margin: '0 0 0 auto' }"
        [disabled]="resendTimeSeconds > 0"
      ></p-button>
    </div>
    <p-button
      size="small"
      [label]="otpsend ? 'Verify OTP & Change Password' : 'Send OTP'"
      styleClass="w-100 mt-5 d-block"
      (onClick)="sendVerifyOTP()"
    ></p-button>
  </div>
</div>
