<div
  class="mx-auto p-3 py-5 d-flex align-items-start justify-content-center intro-container"
>
  <div class="w-100 intro-content">
    <h1 class="text-center">{{ "intro.TITLE" | translate }}</h1>
    <p class="mt-5 mb-4 text-center">{{ "intro.DESCRIPTION" | translate }}</p>
    <button class="w-100 p-button" (click)="startHra()">
      <span class="p-button-label">{{ "intro.START_HRA" | translate }}</span>
    </button>
    <p class="mt-4 mb-5 text-center">
      {{ "intro.DESCRIPTION_TWO" | translate }}
    </p>

    <h3 class="text-center">{{ "intro.DISCLAIMER" | translate }}</h3>
    <p class="mt-2 text-center">
      {{ "intro.DISCLAIMER_DESCRIPTION" | translate }}
    </p>
  </div>
</div>
