<div
  class="mx-auto p-3 py-5 d-flex align-items-start justify-content-center intro-container"
>
  <div class="w-100 intro-content">
    <h1 class="text-center">How Healthy<br />Are You Really?</h1>
    <p class="mt-5 mb-4">
      A health risk assessment (HRA) is a health questionnaire, used to provide
      individuals with an evalution of their health risks and quality of life.
      Based on your responses to the questions in the HRA, we will provide you
      with a risk calculation or Health Score.
    </p>
    <button class="w-100 p-button" (click)="startHra()">
      <span class="p-button-label">Click here to start HRA</span>
    </button>
    <p class="mt-4 mb-5">
      This is a health risk assessment for you. Your Data is secure with us,
      please fill in the data to get an analysis on your Health and Health
      Score.
    </p>

    <h3 class="text-center">Disclaimer</h3>
    <p class="mt-2">
      The information in the survey questionnaire and the result is not intended
      or implied to be a substitute for professional medical advice, diagnosis
      of treatment. All content, including text, graphics, images and
      information, contained on or available through this questionnaire is for
      general information purposes only.
    </p>
  </div>
</div>
