<div class="d-flex justify-content-between align-items-center navbar-container">
  <!-- Add [ngClass]="{'sidebar-open': isSidebarOpen}" in above div only when you want sidebar feature -->
  <div class="h-100 navbar-left">
    <!-- <p-button
      icon="pi pi-bars"
      [rounded]="true"
      [text]="true"
      (onClick)="toggleSidebar()"
    ></p-button> -->
    <!-- uncomment the above commented code only when you want sidebar feature -->
    <img
      class="h-100 d-block"
      src="assets/images/company_logo.png"
      alt="company_logo"
    />
  </div>
  <div class="d-flex align-items-center navbar-right"></div>
</div>
