::ng-deep {
  .navbar-container {
    width: 100%;
    height: var(--navbar-height);
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 10px -5px #aaa;
    transition: all 0.3s;

    .navbar-left {
      .p-button {
        .p-button-icon {
          font-weight: bold;
          font-size: 1.3rem;
          color: #000000;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .navbar-container {
      width: 100% !important;
    }
  }
}
