<div class="w-100 main-container">
  <div class="w-100 main-container-router">
    <!-- Add [ngClass]="{'main-container-sidebar-open': isSidebarOpen,}" in above div only when you want sidebar feature -->
    <!-- <div class="main-container-sidebar">
      <app-sidebar-content></app-sidebar-content>
    </div> -->
    <!-- <div class="main-container-sidebar-overlay" (click)="toggleSidebar()">
      <div
        class="main-container-sidebar-overlay-content"
        (click)="$event.stopPropagation()"
      >
        <app-sidebar-content></app-sidebar-content>
      </div>
    </div> -->
    <!-- uncomment the above commented code only when you want sidebar feature -->
    <div class="main-router-outlets">
      <app-navbar></app-navbar>
      <div class="main-router-outlets-contents">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
