::ng-deep {
  .sidebar-content-container {
    padding: 15px;

    .sidebar-content-logo {
      img {
        margin: 0 auto;
      }
    }

    .sidebar-content-menu {
      .menu-items {
        .menu-item {
          border-radius: 5px;
          list-style: none;

          a {
            border-radius: 5px;
            color: #000000;
            line-height: 1.2rem;

            span,
            i {
              font-weight: 600;
            }

            &.active-sidebar-link {
              color: var(--primary-background-color);
            }
          }

          .p-accordion {
            .p-accordion-tab {
              margin-bottom: 0;

              .p-accordion-header {
                .p-accordion-header-link {
                  justify-content: space-between;
                  padding: 1rem;
                  border-color: transparent;
                  background-color: transparent;
                }
              }
              .p-accordion-content {
                padding: 0 0 0 1rem;
                border-color: transparent;
              }

              &:has(.active-sidebar-link) {
                .p-accordion-header {
                  .p-accordion-header-link {
                    background-color: #eeee;
                  }
                }
              }
            }
          }
          &:hover {
            background-color: #eeee;
          }
        }
      }
    }
  }
}
