<div class="w-100 h-100 sidebar-content-container">
  <div class="w-100 sidebar-content-logo">
    <img
      class="w-50 d-block"
      src="assets/images/company_logo.png"
      alt="company_logo"
    />
  </div>
  <div class="w-100 sidebar-content-menu mt-5">
    <ul class="w-100 menu-items">
      <li class="w-100 menu-item" *ngFor="let item of menuitems">
        <a
          class="w-100 d-flex align-items-center justify-content-between p-3"
          *ngIf="item?.routerLink"
          [routerLink]="[item?.routerLink]"
          routerLinkActive="active-sidebar-link"
        >
          <span>{{ item?.label }}</span>
          <i [class]="item?.icon"></i>
        </a>

        <p-accordion *ngIf="item?.items">
          <p-accordionTab [header]="item?.label" iconPos="end">
            <ul class="w-100 menu-items">
              <li class="w-100 menu-item" *ngFor="let sitem of item?.items">
                <a
                  class="w-100 d-flex align-items-center justify-content-between p-3"
                  *ngIf="sitem?.routerLink"
                  [routerLink]="[sitem?.routerLink]"
                  routerLinkActive="active-sidebar-link"
                >
                  <span>{{ sitem?.label }}</span>
                  <i [class]="sitem?.icon"></i>
                </a>
              </li>
            </ul>
          </p-accordionTab>
        </p-accordion>
      </li>
    </ul>
  </div>
</div>
