<div class="paginitated-table-container">
  <p-table
    [value]="tableData"
    [paginator]="!paginatedTable"
    [rows]="tableRows"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} of {totalRecords}"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    styleClass="p-datatable-records"
    *ngIf="tableData.length > 0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of tableCols">
          <span
            style="white-space: nowrap"
            *ngIf="
              col['field'] !== 'age' &&
              col['field'] !== 'actions' &&
              !col['sorting']
            "
            >{{ col?.label }}</span
          >
          <span
            style="white-space: nowrap"
            *ngIf="
              col['field'] !== 'age' &&
              col['field'] !== 'actions' &&
              col['sorting']
            "
            [pSortableColumn]="col['field']"
            >{{ col?.label }}<p-sortIcon [field]="col['field']"></p-sortIcon
          ></span>
          <span
            style="white-space: nowrap; text-align: center"
            *ngIf="col['field'] === 'actions'"
            class="d-block w-100"
            >{{ col?.label }}</span
          >
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record let-index="rowIndex">
      <ng-container [ngSwitch]="renderFor">
        <tr *ngSwitchDefault>
          <td *ngFor="let col of tableCols">
            <span
              *ngIf="col['field'] !== 'actions'"
              >{{ record?.[col['field']] }}</span
            >
            <div
              class="d-flex align-items-center justify-content-center action-btns"
              *ngIf="col['field'] === 'actions'"
            >
              <p-button
                icon="pi pi-pencil"
                [text]="true"
                (onClick)="action.emit({ action: 'edit', rowdata: record })"
                [disabled]="!record?.['isActive']"
              ></p-button>
              <!-- <p-button
                icon="pi pi-trash"
                [text]="true"
                (onClick)="action.emit({ action: 'delete', rowdata: record })"
                [disabled]="!record?.['isActive']"
              ></p-button> -->
              <p-button
                icon="pi pi-user"
                [styleClass]="record?.['isActive'] ? 'active-user' : ''"
                [text]="true"
                (onClick)="action.emit({ action: record?.['isActive'] ? 'inactive' : 'active', rowdata: record })"
              ></p-button>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-template>
  </p-table>

  <div
    *ngIf="tableData.length > 0 && paginatedTable"
    class="w-100 d-flex align-items-center justify-content-center mt-3 table-footer-controls"
  >
    <p-paginator
      (onPageChange)="tablePageChanged.emit($event)"
      [rows]="tableRows"
      [totalRecords]="totalTableRecords"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [showCurrentPageReport]="true"
      [showFirstLastIcon]="false"
      currentPageReportTemplate="{first} - {last} of {totalRecords}"
    ></p-paginator>
  </div>

  <div
    class="my-5"
    style="width: 150px; margin: 0 auto"
    *ngIf="tableData.length <= 0"
  >
    <app-nodatafound message="No Data Available"></app-nodatafound>
  </div>
</div>
